<%- model_class = Dlyirrigation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @dlyirrigation.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:irriset_id) %>:</strong></dt>
  <dd><%= @dlyirrigation.irriset_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:section_id) %>:</strong></dt>
  <dd><%= @dlyirrigation.section_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:runhr) %>:</strong></dt>
  <dd><%= @dlyirrigation.runhr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:arearun) %>:</strong></dt>
  <dd><%= @dlyirrigation.arearun %></dd>
  <dt><strong><%= model_class.human_attribute_name(:irricost) %>:</strong></dt>
  <dd><%= @dlyirrigation.irricost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rainfall) %>:</strong></dt>
  <dd><%= @dlyirrigation.rainfall %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remarks) %>:</strong></dt>
  <dd><%= @dlyirrigation.remarks %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              dlyirrigations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dlyirrigation_path(@dlyirrigation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dlyirrigation_path(@dlyirrigation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
